<div class="login_container">
  <div class="login_content">
    <div class="login_intro">
      <div class="login_logo">
        <img src="../../../assets/darkeye_Light_new.svg" class="logo_img" />
        <h2>Dark Eye</h2>
      </div>
      <div class="login_intro_info">
        <h4>
          With Darkeye, you can manage your vendor attack surface and
          third-party risk with ease, all in one place. From self-assessment
          questionnaires to remediation, we have everything you need for
          comprehensive vendor risk management.
        </h4>
        <div class="services_list">
          <h4>
            <img src="../../../assets/darkeye_Light_new.svg" class="logo_img" />
            <span>Self-Assessment</span>
          </h4>
          <h4>
            <img src="../../../assets/darkeye_Light_new.svg" class="logo_img" />
            <span>Vendor Risk Management</span>
          </h4>
          <h4>
            <img
              src=".
              ./../../assets/darkeye_Light_new.svg"
              class="logo_img"
            />
            <span>Questionnaire Management</span>
          </h4>
          <h4>
            <img src="../../../assets/darkeye_Light_new.svg" class="logo_img" />
            <span>User Management</span>
          </h4>
          <h4>
            <img src="../../../assets/darkeye_Light_new.svg" class="logo_img" />
            <span>Remediation</span>
          </h4>
          <h4>
            <img src="../../../assets/darkeye_Light_new.svg" class="logo_img" />
            <span>Darkeye News Feed</span>
          </h4>
        </div>
      </div>
    </div>
    <div class="login_fields">
      <div class="login_fields_info">
        <h4>Welcome Back</h4>

        <div class="login_block">
          <h2>Login</h2>
          <div class="input_fields">
            <h6>Enter Your Login Id</h6>
            <input type="text" pInputText placeholder="Enter Your Login Id" />
          </div>
          <div class="input_fields_1">
            <h6>Enter Your Password</h6>
            <p-password [toggleMask]="true" placeholder="Enter Your Password"></p-password>
          </div>
          <div>
            <p>Forgot Password</p>
            <button
              (click)="onSubmit()"
              pButton
              type="button"
              class="login_btn"
            >
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
    <img src="../../../assets/loginIntro1.png" class="intro_img" />
  </div>
</div>
