.data {
  display: grid;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Rubik", sans-serif !important;
  background: #000;
  overflow-x: hidden;
  .data_content {
      height: 100vh;
      overflow-y: hidden !important;
      overflow-x: hidden;
  }
  .data_details {
      height: 100% !important;
      // overflow-y: auto;
      // overflow-y: hidden !important;
      background-color: #2d2c30;
  }
}

.createData {
  grid-template-columns: 5% 95%;
  overflow-x: hidden;
  .sideBar_image_block {
      span {
          display: none;
      }
  }
  .Header_container .Header_content {
      padding-right: 0;
  }
  .side_bar_switch {
      display: none;
  }
  .sidebar_details {
      display: none;
  }
  .sidebar_details1 {
      margin-top: 2.5rem;
      .Dashboard_sidebar_data {
          justify-content: center;
          margin-bottom: 3.1rem !important;
      }
  }
  @media screen and (max-width: 1300px) {
      grid-template-columns: 6% 94%;
  }
}
.NonData {
  grid-template-columns: 16% 84%;
  overflow-x: hidden;
}
