<!-- GitHub -->
<div class="row">
  <div class="accounts">
    <div class="step-header active ng-star-inserted">
      <div class="step-header-stepnum active">1</div>
      <div class="header_title">Select Account &nbsp;</div>
      <div class="refresh_icon">
        <i class="pi pi-replay" [class.active]="filterAccounts" [class.inactive]="!filterAccounts" (click)="onRefreshAcc()"></i>
      </div>
    </div>
    <div class="card-body">
      <div class="repo-filter ng-tns-c126-18">
        <input placeholder="Filter" pinputtext="" [(ngModel)]="filterAccounts" (input)="onSearchGitAccounts()" size="50" class="form-control">
      </div>
      <div class="no_data" *ngIf="accounts.length === 0">** No Data Found **</div>
      <div class="ng-tns-c126-18" style="max-height: 385px;">
        <div style="position: static; height: 24rem; overflow: auto;" class="ps">
          <div class="ps-content" *ngFor="let item of accounts; let i index">
            <div class="repository-usr repository-account git-repo-account ui-state-highlight ng-star-inserted" >
              <div class="repo-usr-img"><img alt="" [src]="item.imageurl" alt="avatar">
              </div>
              <div class="repo-usr-lbl" (click)="getRepositories(i)">{{ item.owner }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accounts" *ngIf="selectRepositories">
    <div class="step-header active ng-star-inserted">
      <div class="step-header-stepnum active">2</div>
      <div class="header_title">Select Repository &nbsp;</div>
      <div class="refresh_icon">
        <i class="pi pi-replay" [class.active]="filterRepo" [class.inactive]="!filterRepo" (click)="onRefreshRepo()"></i>
      </div>
    </div>
    <div class="card-body" >
    <div *ngFor="let item of owner">
      <div class="repository-usr " >
        <div class="repo-usr-img"><img alt="" [src]="item.imageurl"  alt="avatar">
        </div>
        <div class="repo-usr-lbl">{{ item.owner }}</div>
      </div>
    </div>
      <div class="repo-filter ng-tns-c126-18">
        <input placeholder="Filter" pinputtext="" [(ngModel)]="filterRepo" (input)="onSearchGitRepo()" size="50" class="form-control">
      </div>
      <div class="Repository">
        <div class="repo">Repository</div>
        <div class="langu">Language</div>
      </div>
      <div class="no_data" *ngIf="repositories.length === 0">** No Data Found **</div>
      <div class="ng-tns-c126-18" style="max-height: 385px;">
        <div style="position: static; height: 16rem; overflow: auto;" class="ps">
          <div class="ps-content" *ngFor="let item of repositories; let i index">
            <div class="repository-usr repository-account git-repo-account ui-state-highlight ng-star-inserted" >
              <!-- <div class="repo-usr-img"><img alt="" [src]="item.imageurl" alt="avatar">
              </div> -->
              <div class="repo-usr-lbl rrepository" >
                <div class="repo" (click)="getbranches(i)">{{ item.repository }}</div>
                <div class="langu"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accounts" *ngIf="selectBranches">
    <div class="step-header active ng-star-inserted">
      <div class="step-header-stepnum active">3</div>
      <div class="header_title">Execute Scan &nbsp;</div>
      <!-- <div class="refresh_icon">
        <i class="pi pi-replay"></i>
      </div> -->
    </div>
    <div class="card-body">
      <div class="Repository">
        <div class="repo">Repository</div>
        <div class="langu">Branch</div>
      </div>
      <div class="no_data" *ngIf="branchs.length === 0">** No Data Found **</div>
      <div class="ng-tns-c126-18" style="max-height: 385px;">
        <div style="position: static; height: 24rem; overflow: auto;" class="ps">
          <div class="ps-content" *ngFor="let item of branchs; let i index">
            <div class=" repository-account git-repo-account  ng-star-inserted" >
              <!-- <div class="repo-usr-img"><img alt="" [src]="item.imageurl" alt="avatar">
              </div> -->
              <div class="repo-usr-lbl Repository" style="text-transform: none; background: none;" >
                <div class="repo">{{ item.repository }}</div>
                <div class="langu">{{ item.branch_name }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
